<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lohika.yambla" android:versionCode="1" android:versionName="1">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <application android:icon="@drawable/twitter_icon" android:label="@string/app_name" android:debuggable="true"
                 android:name=".YamblaApplication">
        <activity android:name=".StatusActivity" android:label="@string/status_title"/>
        <activity android:name=".PrefsActivity" android:label="@string/pref_title"/>
        <activity android:name=".TimelineActivity" android:label="@string/timeline_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".UpdaterService"/>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <provider android:name=".StatusProvider" android:authorities="com.lohika.yambla.provider"/>
    </application>

    <!-- our custom permissions -->
    <permission android:name="com.lohika.yambla.SEND_TIMELINE_NOTIFICATIONS"
                android:label="@string/permission_send_timeline_notification_label"
                android:description="@string/permission_send_timeline_notification_desc"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal"/>
    <permission android:name="com.lohika.yambla.RECEIVE_TIMELINE_NOTIFICATIONS"
                android:label="@string/permission_receive_timeline_notification_label"
                android:description="@string/permission_receive_timeline_notification_desc"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="com.lohika.yambla.SEND_TIMELINE_NOTIFICATIONS"/>
    <uses-permission android:name="com.lohika.yambla.RECEIVE_TIMELINE_NOTIFICATIONS"/>

</manifest>

